<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Key-up and Computed exercise</title>
</head>
<body>
    <div id="app">
        <h1> {{ title }} </h1>

        <input type="text" v-model="newFruit" @keyup.enter="addFruit">
        <button @click="addFruit">Add</button>

        <ul>
            <li v-for="fruit of fruits">
                <input type="number" v-model.number="fruit.quantity">
                {{ fruit.name }}
                <button @click="fruit.quantity++">+</button>
                <span v-if="fruit.quantity === 0"> - Without stock</span>
            </li>
        </ul>
        <h4>TOTAL: {{ sumFruits }}</h4>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="03.js"></script>
</body>
</html>